.add-post{
    padding-top: 50px;
}

.cards{
    justify-content: center;
    padding-top: 50px;
}

.card{
    width: 50% !important;
}

.content{
    text-align: left;
}

@media  (max-width: 767px) {
    .card{
        width: 80% !important;
    }
}